# Compiled class file
*.class
*.classpath
*.project
*.project

# Idea file
/.idea/*
*.iml

#Folders
/.metadata/*
/.recommenders/*
/RemoteSystemsTempFiles/*
#
/target/*
/.settings/*

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/



# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

